:root {
  --primary-color: #6d8ada;
  --heading-font: "Merriweather", serif;
  --body-font: "Poppins", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
.nav_name {
  font-family: var(--heading-font);
  font-weight: bold;
}

body {
  font-family: var(--body-font);
  width: 100vw;
  height: 100vh;
}

.hero {
  background-color: #edeff5;
  text-align: center;
  padding: 160px 0;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  color: #272142;
}

.hero h1 {
  font-size: 96px;
}

.hero h2 {
  font-family: var(--body-font);
  font-weight: 500;
}

.btn-branding {
  background: var(--primary-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  text-decoration: none;
}
